/*搜索栏*/
div#searchform > div:last-child {
  justify-content: space-around;
}
div#main > div {
  position: relative;
}
div#main > div > div:has(> div#center_col) {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  transition: transform 0.3s ease-in;
}
